:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: var(--percent-full);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: var(--breakpoint-xs);
  min-height: var(--viewport-full);
}

h1 {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
}

button {
  cursor: pointer;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-linkHover);
}

body, a, button, input, div, header, footer, main, section, article {
  transition: 
    background-color var(--transition-duration-normal) var(--transition-timing-ease), 
    color var(--transition-duration-normal) var(--transition-timing-ease), 
    border-color var(--transition-duration-normal) var(--transition-timing-ease), 
    box-shadow var(--transition-duration-normal) var(--transition-timing-ease);
}
